<div class="endpointreviewWrapper">
  <p class="endpointtitle">
    Purchase Order Integration
  </p>
  <p class="realp">
     SFTP: Real Time
  </p>
  <div class="reviewmodal">
    <p>
      From Zycus To client, on <b>create</b>
    </p>
    <div class="firstmodal">
      <p>
        Each purchase order will be saved on below location<br />
        on create update & Release of purchase order<br />
        server port user id password<br/>
        Folder<br/>
        EncryptedL:ACE
      </p>
      <p>
        File processing should be uploaded to below folder
      </p>
    </div>
    <p>
      ERPID update
    </p>
    <div class="secondmodal">
      <p>
        To update erp id in PO below API can be utilized
        API: API Url
      </p>
      <p>
        Integration status can will be responded using below xsd
      </p>
    </div>
  </div>
  <div class="btndiv">
    <input class="touchpointbtn" type="button" routerLink="/auth/touchpoint/endpoint" value="Cancel" />
    <input class="touchpointbtn" type="button" routerLink="/auth/touchpoint/integrate" value="Create Touchpoint"/>
  </div>
</div>
