:host{
  .navbar.studionav {
    margin-left: 65px;
    z-index: 100;
    padding: 6px;
    padding-left: 0px;
    background-color:  #fff;
  }
  .navbar.studionav .nav-link{
    color: black;
    padding: 18px;
    font-weight:bold;
    font-size:18px;
  }
  .navbar i{
    font-size: 18px;
    color: black;
  }
  .envp{
    padding: 15px 0px 0px 85px;
    margin-bottom: 0px;
    font-size: 12px;
  }
}
