<div class="endpointWrapper">
  <!--<form>
    <div class="form-group">
      <h6>Select the Integration approach</h6>
      <div class="integration">
        <div>
          <input class="big" type="radio" name="approach" value="" routerLink="/auth/touchpoint/endpoint/ftp"><span>Zycus SFTP</span>
        </div>
        <div>
          <input class="big" type="radio" name="approach" value="" routerLink="/auth/touchpoint/endpoint/api"><span>API</span>
        </div>
        <div>
          <input class="big" type="radio" name="approach" value="" routerLink="/auth/touchpoint/endpoint/review"><span>ERP Connector</span>
        </div>
      </div>
    </div>
  </form>
  <div class="btndiv">
    <input class="touchpointbtn" type="button" routerLink="/auth/integration-studio" value="Cancel" />
    <input class="touchpointbtn" type="button" routerLink="/auth/touchpoint/entities" value="Previous"/>
  </div>-->
  <p>
    <b>Coming Soon</b>
  </p>


</div>
