<div class="endpointapiWrapper">
  <p class="endpointtitle">
    API based Integration <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>
  </p>
  <div class="apiwrapper container-fluid">
    <form>
      <div class="row">

        <div class="col-lg-12">
          <div class="input-holder">
              <label>Endpoint URL</label>
              <input type="text" value="" />
          </div>
        </div>
    
      </div>
    </form>
  </div>
  <div class="btndiv">
    <input class="touchpointbtn" type="button" routerLink="/auth/touchpoint/entities" value="Previous"/>
    <input class="touchpointbtn" type="button" routerLink="/auth/touchpoint/integrate" value="Next"/>
  </div>
</div>
