$icomoon-font-path: "/assets/fonts" !default;

$icon-add: "\e900";
$icon-add-circle: "\e901";
$icon-align-left: "\e902";
$icon-analytics: "\e903";
$icon-arrow-forward: "\e904";
$icon-arrow-right: "\e905";
$icon-attachment: "\e906";
$icon-bookmar: "\e907";
$icon-calendar: "\e908";
$icon-check: "\e909";
$icon-check-circle: "\e90a";
$icon-chevron-down: "\e90b";
$icon-chevron-left: "\e90c";
$icon-chevron-right: "\e90d";
$icon-chevron-up: "\e90e";
$icon-clock: "\e90f";
$icon-close: "\e910";
$icon-close-circle: "\e911";
$icon-comment: "\e912";
$icon-contract: "\e913";
$icon-copy: "\e914";
$icon-doc-add: "\e915";
$icon-doc-add-2: "\e916";
$icon-doc-blank: "\e917";
$icon-doc-search: "\e918";
$icon-document: "\e919";
$icon-download: "\e91a";
$icon-drag-handle: "\e91b";
$icon-e-cart: "\e91c";
$icon-edit: "\e91d";
$icon-eye: "\e91e";
$icon-faq: "\e91f";
$icon-filter: "\e920";
$icon-flag: "\e921";
$icon-folder: "\e922";
$icon-forum: "\e923";
$icon-fullscreen: "\e924";
$icon-fullscreen-exit: "\e925";
$icon-grid: "\e926";
$icon-heart: "\e927";
$icon-heart-fill: "\e928";
$icon-help: "\e929";
$icon-home: "\e92a";
$icon-image: "\e92b";
$icon-info: "\e92c";
$icon-input: "\e92d";
$icon-isource-event: "\e92e";
$icon-linear-scale: "\e92f";
$icon-link: "\e930";
$icon-list: "\e931";
$icon-load-more: "\e932";
$icon-menu-left: "\e933";
$icon-minus-circle: "\e934";
$icon-more-horiz: "\e935";
$icon-more-ver: "\e936";
$icon-move: "\e937";
$icon-pdf: "\e938";
$icon-quick-actions: "\e939";
$icon-react: "\e93a";
$icon-reload: "\e93b";
$icon-requisition: "\e93c";
$icon-search: "\e93d";
$icon-settings: "\e93e";
$icon-star: "\e93f";
$icon-toggle: "\e940";
$icon-trash: "\e941";
$icon-upload: "\e942";
$icon-users: "\e943";

